.contact {
  text-align: center;
  transform: translateY(-1250px);
  display: flex;
  flex-direction: column;
  align-items: center;

  .contact-content {
    transform: translateY(50px);

    div {
      margin: 10px;

      &.blue-text {
        font-weight: bold;
        font-size: 30px;
        color: rgb(44, 71, 85);
      }

      &.email {
        font-weight: bold;
        font-size: 30px;
        color: rgb(16, 202, 183);
      }

      &.social-networks {
        display: flex;

        .icon {
          width: 25px;
          height: 25px;
          margin-left: 10px;
        }
      }
    }
  }
}