.portfolio-part {
  margin: 25px;

  .portfolio-image {
    width: 350px;
    height: 250px;
    margin-bottom: 15px;
  }

  .portfolio-title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
  }

  p {
    text-wrap: balance;
  }
}